[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cbsodataR"]
	path = cbsodataR
	url = https://github.com/edwindj/cbsodatar
	shallow = true
[submodule "chunked"]
	path = chunked
	url = https://github.com/edwindj/chunked
	shallow = true
[submodule "daff"]
	path = daff
	url = https://github.com/edwindj/daff
	shallow = true
[submodule "ffbase"]
	path = ffbase
	url = https://github.com/edwindj/ffbase
	shallow = true
	subdir = pkg
[submodule "sdcSpatial"]
	path = sdcSpatial
	url = https://github.com/edwindj/sdcspatial
	shallow = true
[submodule "whisker"]
	path = whisker
	url = https://github.com/edwindj/whisker
	shallow = true
